@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$border: 1.5px solid rgb(224, 224, 224);
$border-radius: 8px;

$box-shadow: 0 3px 5px 0 rgb(129, 129, 129);

$text-light: rgb(102, 102, 102);
$text-gray: rgb(76, 76, 76);
$text-dark: rgb(32, 33, 36);

$button_hover:rgb(244, 243, 243);
$icon-hover: rgb(231, 229, 229);
