@import '_global.scss';

.App {
  margin: 0 auto;
	font-family: Roboto;
	box-sizing: border-box;
  max-width: 1800px;
}

.brand {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
  margin: 1.25rem;
  width: 125px;

	color: $text-light;
	font-size: 1.5rem;

	&_icon {
		width: 40px;
	}
}

.main {
	margin: 0 4rem;
}

.form {
	display: block;
	box-sizing: border-box;

	margin: 0 auto;
	padding: 5px;
	width: 100%;
	max-width: 598px;

	border: $border;
	border-radius: $border-radius;

	box-shadow: $box-shadow;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;

	.form_title,
	.form_body {
		display: block;
		box-sizing: border-box;
		padding: 12px 16px;
		width: 100%;

		border: none;
		outline: none;
		border-radius: $border-radius;

		font-size: 16px;
		font-weight: 600;

		&:focus {
			outline: none;
		}
	}

	.form_body {
		font-size: 14px;
	}

	.form_title,
	.form_title::placeholder {
		color: $text-light;
	}

	.form_body,
	.form_body::placeholder {
		color: $text-gray;
	}
}

.notes {
	--auto-grid-min-size: 16rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 8px;

	margin: 2rem auto;
	color: $text-dark;

	&_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px;

		min-height: 16rem;
    height: fit-content;
		border: $border;
		border-radius: $border-radius;

		&_title {
			margin: 0;
			font-size: 16px;
			font-weight: 500;
		}

		&_body {
			margin: 0;
			padding: 4px 0 12px;
			font-size: 14px;
			font-weight: 400;
      word-wrap: break-word;
		}

    &_footer {
      align-self: flex-end;
      
      &_btn {
        visibility: hidden;
        padding: 10px 10px 8px;

        border: none;
        border-radius: 50%;

        color: $text-gray;
        background-color: white;
      }

      &_btn:hover {
        background-color: $icon-hover;
      }
    }
	}

	&_card:hover {
		box-shadow: $box-shadow;
		transition: box-shadow 300ms;
	}

  &_card:hover &_card_footer_btn {
    visibility: visible;
    transition: visibility 300ms;
	}
}

@media (max-width: 768px) {
	.main {
		margin: 0 1rem;
	}
}
