@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$border: 1px solid rgb(224, 224, 224);
$border-radius: 8px;

$text-light: rgb(102, 102, 102);
$text-gray: rgb(76, 76, 76);
$text-dark: rgb(32, 33, 36);

.App {
	margin: 0 auto;
	width: 85vw;
	box-sizing: border-box;
  font-family: Roboto;
}

.stack {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 2rem;
	font-size: 1.5rem;

	&_icon {
		margin: 0 1rem;
		width: 50px;
	}
}

.form {
	display: block;
	margin: 1rem auto;
	padding: 5px;
	width: 598px;

	border: $border;
	border-radius: $border-radius;
  box-shadow: 0 3px 10px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 3px 10px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 10px -3px rgba(0,0,0,0.75);

	.form_title,
	.form_body {
		padding: 12px 16px;
		width: 94.75%;
		max-width: 100%;
		border: none;
		border-radius: $border-radius;
		outline: none;

		font-size: 16px;
		font-weight: 600;

		&:focus {
			outline: none;
		}
	}

  .form_body {
    font-size: 14px;
  }

  .form_title::placeholder {
    color: $text-light;
  }

  .form_body::placeholder {
    color: $text-gray;
  }
}

.notes {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;

  margin: 2rem 0;
  color: $text-dark;

  &_card {
    border: $border;
    border-radius: $border-radius;

    &_title {
      margin: 0;
      padding: 12px 16px 0;
      font-size: 16px;
      font-weight: 500;
    }

    &_body {
      margin: 0;
      padding: 4px 16px 12px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
