@import '_colors.scss';

.card {
	display: inline-block;
	margin: 0 0 20px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	width: 100%;

	height: fit-content;
	border: $border;
	border-radius: $border-radius;

	&_title {
		margin: 0;
		padding: 12px 16px 0;
		font-size: 16px;
		font-weight: 500;
	}

	&_body {
		margin: 0;
		padding: 4px 16px 12px;
		flex-grow: 2;

		font-size: 14px;
		font-weight: 400;
		word-wrap: break-word;
	}

	&_footer {
		display: flex;
		justify-content: space-between;

		&_gap {
			flex-grow: 2;
		}

		&_btn {
			position: relative;
			bottom: 8px;
			right: 8px;
			padding: 10px 10px 8px;

			border: none;
			border-radius: 50%;

			color: $text-gray;
			background-color: transparent;
			visibility: hidden;
		}

		&_btn:hover {
			cursor: pointer;
			background-color: $icon-hover;
		}
	}
}

.card:hover {
	cursor: pointer;
	box-shadow: $box-shadow;
	transition: box-shadow 300ms;
}

.card:hover .card_footer_btn {
	visibility: visible;
	transition: visibility 300ms;
}
