@import '_global.scss';

.notes {
	--auto-grid-min-size: 16rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 8px;

	margin: 2rem auto;
	color: $text-dark;

	&_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px;

		min-height: 16rem;
    height: fit-content;
		border: $border;
		border-radius: $border-radius;

		&_title {
			margin: 0;
			font-size: 16px;
			font-weight: 500;
		}

		&_body {
			margin: 0;
			padding: 4px 0 12px;
			font-size: 14px;
			font-weight: 400;
      word-wrap: break-word;
		}

    &_footer {
      align-self: flex-end;
      
      &_btn {
        visibility: hidden;
        padding: 10px 10px 8px;

        border: none;
        border-radius: 50%;

        color: $text-gray;
        background-color: white;
      }

      &_btn:hover {
        background-color: $icon-hover;
      }
    }
	}

	&_card:hover {
		box-shadow: $box-shadow;
		transition: box-shadow 300ms;
	}

  &_card:hover &_card_footer_btn {
    visibility: visible;
    transition: visibility 300ms;
	}
}
